#  Dataframes

## Part - 1

In [15]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [11]:
df = pd.DataFrame(randn(5,4) , ['A','B','C','D','E'],['M','N','O','P'])

In [14]:
df

          M         N         O         P
A  0.328597 -0.796199  1.403124 -1.547793
B  1.166730  1.147723  0.130109  0.431422
C -0.868320  0.027159 -1.518739 -0.815561
D -0.223637 -2.631096  0.046867 -0.376922
E -0.162840 -0.744918  1.069300 -0.734714

In [20]:
df['M']

# or

df.M

A    0.328597
B    1.166730
C   -0.868320
D   -0.223637
E   -0.162840
Name: M, dtype: float64

In [17]:
type(df['M'])

pandas.core.series.Series

In [18]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df[['M','N']]

          M         N
A  0.328597 -0.796199
B  1.166730  1.147723
C -0.868320  0.027159
D -0.223637 -2.631096
E -0.162840 -0.744918

In [22]:
df['sum'] = df['M'] + df['N']

In [23]:
df

          M         N         O         P       sum
A  0.328597 -0.796199  1.403124 -1.547793 -0.467601
B  1.166730  1.147723  0.130109  0.431422  2.314453
C -0.868320  0.027159 -1.518739 -0.815561 -0.841160
D -0.223637 -2.631096  0.046867 -0.376922 -2.854734
E -0.162840 -0.744918  1.069300 -0.734714 -0.907758

In [28]:
df.drop('P',axis=1)

          M         N         O       sum
A  0.328597 -0.796199  1.403124 -0.467601
B  1.166730  1.147723  0.130109  2.314453
C -0.868320  0.027159 -1.518739 -0.841160
D -0.223637 -2.631096  0.046867 -2.854734
E -0.162840 -0.744918  1.069300 -0.907758

In [29]:
df

          M         N         O         P       sum
A  0.328597 -0.796199  1.403124 -1.547793 -0.467601
B  1.166730  1.147723  0.130109  0.431422  2.314453
C -0.868320  0.027159 -1.518739 -0.815561 -0.841160
D -0.223637 -2.631096  0.046867 -0.376922 -2.854734
E -0.162840 -0.744918  1.069300 -0.734714 -0.907758

In [30]:
df.drop('P',axis=1,inplace=True)

In [31]:
df

          M         N         O       sum
A  0.328597 -0.796199  1.403124 -0.467601
B  1.166730  1.147723  0.130109  2.314453
C -0.868320  0.027159 -1.518739 -0.841160
D -0.223637 -2.631096  0.046867 -2.854734
E -0.162840 -0.744918  1.069300 -0.907758

For row dropping

In [38]:
df.drop('E' , axis = 0,inplace = True )

KeyError: "['E'] not found in axis"

In [37]:
df

          M         N         O       sum
A  0.328597 -0.796199  1.403124 -0.467601
B  1.166730  1.147723  0.130109  2.314453
C -0.868320  0.027159 -1.518739 -0.841160
D -0.223637 -2.631096  0.046867 -2.854734

In [39]:
df.shape

(4, 4)

### WAYS OF SELECTING ROWS :

In [40]:
# for location

In [41]:
df.loc['A']

M      0.328597
N     -0.796199
O      1.403124
sum   -0.467601
Name: A, dtype: float64

In [42]:
# for index location

In [43]:
df.iloc[0]

M      0.328597
N     -0.796199
O      1.403124
sum   -0.467601
Name: A, dtype: float64

In [44]:
df.loc['C','M']

-0.8683197629930438

In [48]:
df.loc[ ['A','M'],['B','N'] ]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [49]:
df.loc[['A','B'],['M','N']]

          M         N
A  0.328597 -0.796199
B  1.166730  1.147723