In [11]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [8]:
out_arr = ['A1','A1','A1','A2','A2','A2']
in_arr = [1,2,3,4,5,6]
aqw_arr = list(zip(out_arr,in_arr))
aqw_arr = pd.MultiIndex.from_tuples(aqw_arr)

In [9]:
aqw_arr

MultiIndex([('A1', 1),
            ('A1', 2),
            ('A1', 3),
            ('A2', 4),
            ('A2', 5),
            ('A2', 6)],
           )

In [15]:
df = pd.DataFrame(randn(6,3) , aqw_arr, ['X','Y','Z'])
df

             X         Y         Z
A1 1 -0.497356 -0.985767  1.438068
   2 -0.590645  0.148779 -0.416611
   3 -1.040780  1.280772  0.696846
A2 4 -0.310947 -0.459337  0.787078
   5 -2.097498  1.338179 -0.160485
   6 -0.477320 -0.193791  0.380881

In [17]:
df.loc['A1']

          X         Y         Z
1 -0.497356 -0.985767  1.438068
2 -0.590645  0.148779 -0.416611
3 -1.040780  1.280772  0.696846

In [18]:
df.loc['A1'].loc[2]

X   -0.590645
Y    0.148779
Z   -0.416611
Name: 2, dtype: float64

In [19]:
df.index.names = ['Items' , 'S.NO']

In [20]:
df

                   X         Y         Z
Items S.NO
A1    1    -0.497356 -0.985767  1.438068
      2    -0.590645  0.148779 -0.416611
      3    -1.040780  1.280772  0.696846
A2    4    -0.310947 -0.459337  0.787078
      5    -2.097498  1.338179 -0.160485
      6    -0.477320 -0.193791  0.380881

In [26]:
df.loc['A2']

             X         Y         Z
S.NO
4    -0.310947 -0.459337  0.787078
5    -2.097498  1.338179 -0.160485
6    -0.477320 -0.193791  0.380881

In [30]:
df.loc['A2'].loc[5]['Z']

-0.1604849577402046

In [31]:
df.loc['A1'].loc[2]['X']

-0.590644767368013

In [32]:
# multi-level index
df.xs('A1')

             X         Y         Z
S.NO
1    -0.497356 -0.985767  1.438068
2    -0.590645  0.148779 -0.416611
3    -1.040780  1.280772  0.696846

In [39]:

df.xs(1,level = 'S.NO')    # if 1 index of G2 is present it'll bring it too.

              X         Y         Z
Items
A1    -0.497356 -0.985767  1.438068