In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([25,31,1,6])
data

0    25
1    31
2     1
3     6
dtype: int64

In [3]:
data.values

array([25, 31,  1,  6])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data

0    25
1    31
2     1
3     6
dtype: int64

In [6]:
data[1:3]

1    31
2     1
dtype: int64

In [7]:
data = pd.Series([0.25, 0.52, 0.75, 1.00],
                 index=['A', 'B', 'C', 'D'])
data

A    0.25
B    0.52
C    0.75
D    1.00
dtype: float64

In [8]:
data['C']

0.75

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [11]:
population['Texas']
pops = population['Texas' : 'Florida']
pops

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

In [12]:
pd.Series(2, index=[100, 200, 300, 40 , 936000, 2])

100       2
200       2
300       2
40        2
936000    2
2         2
dtype: int64

In [14]:
pd.Series({2:'a', 1:'b', 3:'c'})
pd.Series({2:'a', 1:'b', 3:'c'} , index=[3,2])

3    c
2    a
dtype: object

In [19]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135,
                    'Alaska' : 1222020 }
population = pd.Series(population_dict)

In [20]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [21]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Alaska         1222020
dtype: int64

In [22]:
states = pd.DataFrame( {'population' : population, 'area' : area})
states

            population      area
Alaska         1222020       NaN
California    38332521  423967.0
Florida       19552860  170312.0
Illinois      12882135  149995.0
New York      19651127  141297.0
Texas         26448193  695662.0

In [29]:
states.index

Index(['Alaska', 'California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [25]:
states.columns

Index(['population', 'area'], dtype='object')

In [30]:
states.area

Alaska             NaN
California    423967.0
Florida       170312.0
Illinois      149995.0
New York      141297.0
Texas         695662.0
Name: area, dtype: float64

In [31]:
states.population

Alaska         1222020
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
Name: population, dtype: int64

In [32]:
states['area']

Alaska             NaN
California    423967.0
Florida       170312.0
Illinois      149995.0
New York      141297.0
Texas         695662.0
Name: area, dtype: float64

In [33]:
states['population']

Alaska         1222020
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
Name: population, dtype: int64

In [36]:
states[0]

KeyError: 0

In [37]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Alaska         1222020

In [38]:
data = [{'a': i, 'b': 2 * i, 'c': 3 * i, 'd': 4 * i}
        for i in range(len(data))]
pd.DataFrame(data)

   a  b  c   d
0  0  0  0   0
1  1  2  3   4
2  2  4  6   8
3  3  6  9  12

In [39]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [43]:
from numpy.random import rand

In [48]:
pd.DataFrame(np.random.rand(4,6) ,columns = ['a','c','s','q','w','e'],
index = [11,12,13,14]            )

           a         c         s         q         w         e
11  0.054508  0.431416  0.828965  0.986797  0.371518  0.840230
12  0.896994  0.109591  0.608678  0.172843  0.320095  0.159463
13  0.475715  0.580333  0.529776  0.182611  0.385912  0.164651
14  0.653191  0.273808  0.638744  0.791270  0.550840  0.678018

In [49]:
""" Dataframe from numpy structured array """

zecos = np.ones(4, dtype = [('X' , 'i8'), ('Y' , 'f8')])
zecos

array([(1, 1.), (1, 1.), (1, 1.), (1, 1.)],
      dtype=[('X', '<i8'), ('Y', '<f8')])

In [50]:
pd.DataFrame(zecos)

   X    Y
0  1  1.0
1  1  1.0
2  1  1.0
3  1  1.0

In [52]:
i = pd.Index(['a','b','c'])
i

Index(['a', 'b', 'c'], dtype='object')

In [54]:
""" Index as immutable aray"""
i[::2]

Index(['a', 'c'], dtype='object')

In [55]:
print(i.size, i.shape, i.ndim, i.dtype)

3 (3,) 1 object

In [56]:
i

Index(['a', 'b', 'c'], dtype='object')

indices can't be modified

In [57]:
""" Indexed as Ordered Set """

' Indexed as Ordered Set '

In [63]:
a = pd.Index([1,2,3,5])
b = pd.Index([4,5,6])

In [64]:
a & b

Int64Index([5], dtype='int64')

In [65]:
a | b

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [66]:
a ^ b

Int64Index([1, 2, 3, 4, 6], dtype='int64')