In [1]:
import pandas as pd

In [8]:
import numpy as np
from numpy.random import randn

In [14]:
df = pd.DataFrame(randn(5,4) , ['A','B','C','D','E'],['M','N','O','P'])
df

          M         N         O         P
A  0.089578  0.531247 -0.176131 -0.508283
B  1.984386  0.793415 -0.574063  0.329511
C  0.662036 -0.252286 -1.082152  0.664876
D  0.770295 -0.046670 -1.315731 -0.152391
E -0.037498  0.009051  0.064393  1.265007

In [18]:
df.drop('P',axis=1)

          M         N         O
A  0.089578  0.531247 -0.176131
B  1.984386  0.793415 -0.574063
C  0.662036 -0.252286 -1.082152
D  0.770295 -0.046670 -1.315731
E -0.037498  0.009051  0.064393

In [19]:
df

          M         N         O         P
A  0.089578  0.531247 -0.176131 -0.508283
B  1.984386  0.793415 -0.574063  0.329511
C  0.662036 -0.252286 -1.082152  0.664876
D  0.770295 -0.046670 -1.315731 -0.152391
E -0.037498  0.009051  0.064393  1.265007

In [21]:
df.drop('P',axis=1,inplace=True)

KeyError: "['P'] not found in axis"

In [22]:
df

          M         N         O
A  0.089578  0.531247 -0.176131
B  1.984386  0.793415 -0.574063
C  0.662036 -0.252286 -1.082152
D  0.770295 -0.046670 -1.315731
E -0.037498  0.009051  0.064393

In [23]:
df = pd.DataFrame(randn(5,4) , ['A','B','C','D','E'],['M','N','O','P'])

In [27]:
df

          M         N         O
A -0.292837 -0.928402 -1.042750
B  1.579946 -0.648422  1.698404
C -0.442727  1.437637 -0.955360
D  1.395429 -0.656091 -2.311871
E -0.486737  0.833402  0.543191

In [30]:
df.drop('O',axis=1,inplace=True)
df

KeyError: "['O'] not found in axis"

In [31]:
df = pd.DataFrame(randn(5,4) , ['A','B','C','D','E'],['M','N','O','P'])

In [32]:
df

          M         N         O         P
A -0.294783 -0.044467  0.568310  1.078573
B  2.708385  1.128831  1.503053  1.786353
C -0.446202 -1.138304 -0.425287  0.493105
D -0.338781  1.147175  0.660371 -2.190297
E -0.150047 -0.193297 -1.105751  0.352207

In [35]:
ds = df.drop('P',axis=1,inplace=True)

In [36]:
df

          M         N
A -0.294783 -0.044467
B  2.708385  1.128831
C -0.446202 -1.138304
D -0.338781  1.147175
E -0.150047 -0.193297

In [37]:
df = pd.DataFrame(randn(5,4) , ['A','B','C','D','E'],['M','N','O','P'])

In [38]:
df

          M         N         O         P
A -0.109006  0.086131 -0.723440 -1.022081
B -0.697181 -0.826232  0.455834 -1.246611
C  0.700353  1.195546  0.508184  0.416991
D  0.362256  0.169773 -1.275820 -0.301128
E  0.677319 -0.198626 -1.777756  1.108151

In [39]:
dx = df.drop('E',axis = 0)
dx

          M         N         O         P
A -0.109006  0.086131 -0.723440 -1.022081
B -0.697181 -0.826232  0.455834 -1.246611
C  0.700353  1.195546  0.508184  0.416991
D  0.362256  0.169773 -1.275820 -0.301128

In [40]:

dx = df.drop('E',axis = 0, inplace=True)

In [42]:
dx

In [43]:

df.loc[['A','B'],['M','N']]

          M         N
A -0.109006  0.086131
B -0.697181 -0.826232

In [44]:
df.loc['A']

M   -0.109006
N    0.086131
O   -0.723440
P   -1.022081
Name: A, dtype: float64

In [45]:
df.iloc[0]

M   -0.109006
N    0.086131
O   -0.723440
P   -1.022081
Name: A, dtype: float64