In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A' : ['a', 'b', 'c', 'd'],
                   'B' : [1,2,3,4],
                   'C' : ['555', '666', '1012', '666']})

In [5]:
df

   A  B     C
0  a  1   555
1  b  2   666
2  c  3  1012
3  d  4   666

In [7]:
df['C'].unique()

array(['555', '666', '1012'], dtype=object)

In [8]:
df['C'].nunique()

3

In [9]:
df['C'].value_counts()

666     2
1012    1
555     1
Name: C, dtype: int64

In [13]:
df['B']>2

0    False
1    False
2     True
3     True
Name: B, dtype: bool

In [14]:
df[df['B']>2]

   A  B     C
2  c  3  1012
3  d  4   666

In [17]:
df[ (df['B']>2 ) & ( df['C'] == '666' )]

   A  B    C
3  d  4  666

In [18]:
""" applying custom functions """

def thrice(x):
    return x**3

In [19]:
df['B'].apply(thrice)

0     1
1     8
2    27
3    64
Name: B, dtype: int64

In [20]:
df['C'].apply(len)

0    3
1    3
2    4
3    3
Name: C, dtype: int64

In [21]:
df['B'].apply(lambda x: x**4)

0      1
1     16
2     81
3    256
Name: B, dtype: int64

In [22]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [23]:
df.index

RangeIndex(start=0, stop=4, step=1)