# Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
lab = ['1','2','456']
datum = ['abc','def','ghi']
arr_my = np.array(datum)
dict_n = {1:'a' , 2 : 'b', 3 : 'c' , 4:'d' }

In [4]:
arr_my

array(['abc', 'def', 'ghi'], dtype='<U3')

In [5]:
pd.Series(data = datum)

0    abc
1    def
2    ghi
dtype: object

In [6]:
pd.Series(data = datum , index = lab )

1      abc
2      def
456    ghi
dtype: object

In [7]:
pd.Series(datum,lab )

1      abc
2      def
456    ghi
dtype: object

In [8]:
pd.Series(arr_my)

0    abc
1    def
2    ghi
dtype: object

In [9]:
pd.Series(arr_my,lab)

1      abc
2      def
456    ghi
dtype: object

In [10]:
pd.Series(dict_n)

1    a
2    b
3    c
4    d
dtype: object

# series can run any type of  data-object

In [11]:
pd.Series(data = [sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [17]:
ser=  pd.Series([1,2,3,4],['Pak','China','Turkey','Canada'])

In [18]:
ser

Pak       1
China     2
Turkey    3
Canada    4
dtype: int64

In [19]:
ser1=  pd.Series([11,22,33,44],['Pak','Chi','Tur','Can'])

In [20]:
ser1

Pak    11
Chi    22
Tur    33
Can    44
dtype: int64

In [21]:
ser1['Pak']

11

In [22]:
ser['Canada']

4

In [23]:
lab

['1', '2', '456']

In [24]:
lab1 = ['a' , 'b' , 'c']

In [26]:
ser3 = pd.Series( data = lab1)
ser3

0    a
1    b
2    c
dtype: object

In [27]:
ser[2]

3

In [31]:
ser3[2] = 'f'

ser3

In [32]:
ser3 = pd.Series( data = lab1)

In [33]:
ser

Pak       1
China     2
Turkey    4
Canada    4
dtype: int64

In [34]:
ser3

0    a
1    b
2    c
dtype: object

In [35]:
ser_a = pd.Series([1,2,3,4],['Pak','China','Turkey','KSA'])

In [36]:
ser_a

Pak       1
China     2
Turkey    3
KSA       4
dtype: int64

In [37]:
ser + ser_a

Canada    NaN
China     4.0
KSA       NaN
Pak       2.0
Turkey    7.0
dtype: float64

In [38]:
ser + ser_a

Canada    NaN
China     4.0
KSA       NaN
Pak       2.0
Turkey    7.0
dtype: float64